a{
    color: red;
    text-decoration: none;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(223, 56, 56, 0.831), white);
    transform: translateY(-100vw);
    animation: contactTransition 1s linear forwards;
    min-height: 80vh;
}
.contact_container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(230, 12, 12, 0.674);
    opacity: 0;
    animation: containerTransition 1s linear forwards 1.5s;
}
.contact_container input, textarea{
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 2px solid rgb(213, 93, 93);
    margin: 20px;
    color: #eee;
}


@keyframes contactTransition {
    to {
        transform: translateY(0);

    }
}

@keyframes containerTransition {
    50%{
        transform:scale(1.5);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}

/*Register page*/
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(6, 5, 5, 0.831), white);
    transform: translateX(-100vw);
    animation: registerTransition 1s linear forwards;
    min-height: 80vh;
}

.register_container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(19, 17, 17, 0.674);
    transform: translateY(-100vw) rotateZ(360deg);
    animation: regContainerTransition 1s linear forwards 1.5s;
    color: #eee;
}

.register_container input{
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 2px solid rgb(239, 237, 237);
    border-radius: 5px;
    margin: 20px;
    color: #eee;
}

@keyframes registerTransition {
    to {
        transform: translateX(0);
    }

}

@keyframes regContainerTransition {
    to {
        transform: translateY(0);
    }

}


/*Login Page*/
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: radial-gradient(white, rgb(70, 136, 235),rgb(154, 67, 231));
    transform: translateX(-100vw);
    animation: registerTransition 1s linear forwards;
    min-height: 80vh;
}

.login_container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    background-color: rgb(45, 25, 64);
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(19, 17, 17, 0.674);
    transform: translateY(-100vw) rotateZ(360deg);
    animation: regContainerTransition 1s linear forwards 1.5s;
    color: rgb(249, 20, 20);
}
.login_container p{
    color: rgb(250, 245, 245);
}
.login_container input{
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 2px solid rgb(239, 237, 237);
    margin: 20px;
    color: #ccc;
}

/*gallery page*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: auto;
}
.gallery div{
    width: 290px;
    height: 340px;
    margin: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}
.gallery div:hover{
    box-shadow: 0px 0px 20px rgba(247, 241, 241, 0.863);
    transform: scale(1.1);

}
.gallery img{
    width: 290px;
    height: 290px;
    border-radius: 10px 10px 0px 0px;
}
.gallery h3{
    padding-bottom: 10px;
    text-align: center;
}

/*register validation*/
.register_container p{
    color: red;
    font-weight: 300;

}